.container__big-card{
  border: solid white 2px;
  margin-left: 20px;
  margin-right: 20px;
  width: 400px;
  height: 500px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.big-card__title > h1{
  margin-top: 15px;
  font-size: 22px;
}

.big-card__description > p{
  margin-top: 10px;
  color: gray;
}

