.container__articles{
  margin-top: 30px;

  display: flex;
  flex-direction: row; /*COM ISSO DEIXOU OS CARDS DO LADO*/
  justify-content: center;
}

header{
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

